.app_body {
    width: 97vw;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px 20px 20px;
    height: 97.8vh;
    background-color: burlywood;
    scroll-margin: unset;
    overflow-y: unset;
}

.header {
    background-color: lightcyan;
    position: fixed;
    alignment: center;
    top: 0;
    width: 80vw;
    height: 9vh;
    left: 10vw;
}
.header_icon {
    transition: all .3s;
    background-color: lightcyan;
    height: 9vh;
    width: 6vw;
    fill: #F59A83;
    position: absolute;
    left: 14vw;
}
.header_icon_bookmarkes {
    background-color:lightcyan;
    display: flow;
    transition: all .1s;
    height: 9vh;
    width: 6vw;
    fill: #F59A83;
    position: absolute;
    left: 150vh;
}

.header_search__field {
    background-color: wheat;
    border-radius: 10rem;
    transition: all .3s;
    font-family: inherit;
    font-size: 1.2rem;
    height: 6vh;
    width: 24vw;
    position: absolute;
    top: 1.3vh;
    left: 33vw;
}

.header_search__field:focus-within
{
    box-shadow: none;
}
.header_btn_search {
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    border-radius: 10rem;
    border: bisque;
    transition: 0.1s all;
    position: absolute;
    height: 6.2vh;
    width: 8.2vw;
    top: 1.53vh;
    left: 49.2vw;
}
.header_btn_search:active {
    box-shadow: none;
    transform: translateY(1px);
}
.results-list {
    background-color: lightcyan;
    position: absolute;
    flex-direction: column;
    scroll-margin: 0px;
    scrollbar-base-color: burlywood;
    scrollbar-shadow-color: burlywood;
    overflow-y: scroll;
    height: 91.5vh;
    top: 8vh;
    width: 80vw;
    left: 10vw;


}

.button_scrollTop {
    z-index: 4;
    left: 71.5vw;
    bottom: 348.5vh;
}



.app_container {

    max-width: 100%;
    height: 100%;
    margin: 0.8vw auto;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
    display: flex;

}

.form {
    height: 4.5rem;
    width: 8rem;
    fill: #F59A83;
    margin-top: 12px;
    border: 1px solid #F59A83;

}

.card {
    background-color: red;
    overflow: auto;
    alignment: center;
    width:  50vw;
    height: 20vh;
    max-width: 80vw;
    border: #655A56;
    margin-top: 3px;

}

.card__text {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}


.cards {
    display: flex;
    flex-direction: column;
    height: 50vm;
    width: 50vw;
    margin-left: 20vw;
    top: 12vh;
}

.card__img {
    width: 50vw;
    height: 50vh;
}
.copyright {
    color: #968B87;
    font-size: 1.2rem;
    margin-top: auto;
}




